<!--
  Generated template for the InputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>input</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="settingsReady">
          <ion-list *ngIf="page == 'main'">
            <ion-item>

              <ion-input [(ngModel)]="slider1name" input-type="text" placeholder="Variable name" formControlName="slider1name"></ion-input>
              <ion-range [(ngModel)]="slider1" (ionChange)="onChange(form.value)" formControlName="slider1" min="0" max="100">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
            </ion-item>

            <ion-item>

              <ion-input [(ngModel)]="slider2name" input-type="text" placeholder="Variable name" formControlName="slider2name"></ion-input>
              <ion-range [(ngModel)]="slider2" (ionChange)="onChange(form.value)" formControlName="slider2" min="0" max="100">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
            </ion-item>
            <ion-item>

              <ion-input [(ngModel)]="slider3name" input-type="text" placeholder="Variable name" formControlName="slider3name"></ion-input>
              <ion-range [(ngModel)]="slider3" (ionChange)="onChange(form.value)" formControlName="slider3" min="0" max="100">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
            </ion-item>
            <ion-item>

              <ion-input [(ngModel)]="slider4name" input-type="text" placeholder="Variable name" formControlName="slider4name"></ion-input>
              <ion-range [(ngModel)]="slider4" (ionChange)="onChange(form.value)" formControlName="slider4" min="0" max="100">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
            </ion-item>
            <ion-item>


            </ion-item>
            <ion-item>

              <ion-input [(ngModel)]="slider6name" input-type="text" placeholder="Variable name" formControlName="slider6name"></ion-input>
              <ion-range [(ngModel)]="slider6" (ionChange)="onChange(form.value)" formControlName="slider6" min="0" max="100">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
            </ion-item>


            <br>
            <button ion-button type="submit" block>Submit</button>

            <!--
          <ion-item>
            <ion-label>Height</ion-label>
            <ion-select formControlName="option4">
              <ion-option value="1" checked="true">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
            </ion-select>
          </ion-item>
          -->
          </ion-list>
        </form>
      </ion-col>
      <ion-col>
        <ion-content padding>
          <div #domObj></div>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label color="primary" stacked>GH XML</ion-label>
    <ion-input [(ngModel)]="ghXml" type="text" placeholder="Paste here"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button type="button">Load GHX File</button>
  </ion-item>
  <br>

</ion-content>